<div class="container mt-3 py-2 bg-success bg-opacity-25">
  <h2 style="color:green">Bienvenido {{email}}</h2>
  <div id="user-email" data-email="{{email}}"></div>
  <a href="/logout" class="btn btn-warning">Desloguear</a>
</div>

<div class="container mt-3 pt-2 bg-secondary bg-opacity-25">
  <h2 style="color:blue">Centro de Mensajes</h2>
  <form method="post" id="formMessage">
    <div class="mb-3">
      <label for="text" class="form-label">Text: </label>
      <input type="text" class="form-control" id="text" name="text" aria-describedby="text" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <hr>

  <div id="messages" class="pb-2 mb-4"></div>
</div>
